.nav {
    background-color: #301f10;
    height: 80px;
    width: 100%;
   
}
.link{
    color: #fbece3;
    margin-right: 10%;
    margin-top: 10%;

}
.div{
    display: inline;
    margin-left: 1000%;
    width: 100%;
}
a:hover{
    text-decoration: none;
    color: white;
}

body {
    background-color: rgb(47, 177, 177);
}

.button {
    background-color: #301f10;
    margin-left: 80px;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fbece3;
}

